* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

p {
  color: #fff;
}
h1 {
  color: #fff;
  font-weight: 700;
}

body {
  background-color: rgb(243, 132, 28);
  font-family: 'Roboto', sans-serif;
}

.socials {
  position: fixed;
  left: 20px;
  top: 40px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.socials > div > svg {
  color: #fff;
  margin-bottom: 10px;
  margin-right: 10px;
}

.github-container,
.linkedin-container,
.mail-container {
  display: flex;
  flex-direction: row;
}

.github-container > span,
.linkedin-container > span,
.mail-container > span {
  display: none;
  /* add transition for hover state */
}

/* intro section */
.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-wrapper {
  max-width: 994px;
}

.intro-wrapper > h1 {
  text-align: center;
  font-size: 52px;
}

.intro-wrapper > p {
  text-align: center;
  font-size: 40px;
  line-height: 1.4;
  opacity: 0.7;
}

/* About section */
.about {
  min-height: 350px;
}

.about-content {
  color: black;
}

/* work section */
.work {
  /* margin: 10px; */
  display: grid;
  grid-template-areas:
    'sol-de-janiero bioelements'
    'silk ike';
}

.work a {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

.sol-de-janiero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  grid-area: sol-de-janiero;
}

.sol-de-janiero > h1,
.bioelements > h1,
.silk > h1,
.ike > h1 {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.sol-de-janiero:hover h1,
.bioelements:hover h1,
.silk:hover h1,
.ike:hover h1 {
  display: block;
}

.sol-wrapper {
  background: url(../img/sol.png) center;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.sol-wrapper:hover,
.bio-wrapper:hover,
.silk-wrapper:hover,
.ike-wrapper:hover {
  filter: brightness(40%);
}

.bioelements {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  grid-template-areas: bioelements;
}

.bio-wrapper {
  background: url(../img/bioe.png) center;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.silk {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  grid-template-areas: silk;
}

.silk-wrapper {
  background: url(../img/silk2.png) center;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.ike {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  grid-template-areas: ike;
}

.ike-wrapper {
  background: url(../img/ikestug.png);
  object-fit: contain;
  width: 100%;
  height: 100%;
}

footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
