*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
  
  a {
    text-decoration: none;
  }
  
  a:hover, a:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  p, h1{
      color:#fff;
  }

  body{
      
      background-color:rgb(243, 132, 28);
  }


  .socials{
      position:fixed;
      left:40px;
      top:40px;
      display:flex;
      flex-direction: column;

  }

  .socials > div > svg{
      color:#fff;
      margin-bottom:10px;
      margin-right:10px;

  }

  .github-container, .linkedin-container, .mail-container{
    display:flex;
    flex-direction:row;
  }

  .github-container > span, .linkedin-container >span, .mail-container > span{
    display:none;
    /* add transition for hover state */
  }

  /* intro section */
.intro{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-wrapper{
    max-width: 994px;

}

.intro-wrapper > h1{
    text-align: center;
    font-size:52px;
}

.intro-wrapper > p{
    text-align: center;
    font-size:40px;
    line-height: 1.4;
    opacity: 0.7;
}

/* work section */
.work{
    margin:40px;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;

}


.sol-de-janiero{
    background:url(../img/soldejaneiro.png);
    object-fit: cover;
    width:100%;
    height:500px;
    grid-column: 1 / 7;
    grid-row: 1 / 1;
}

.bioelements{
    background:url(../img/bioelements.png);
    object-fit: cover;
    width:100%;
    height:500px;
    grid-column: 1 / 4;
    grid-row: 2 / 2
}

.silk{
    background:url(../img/silk.png);
    object-fit: cover;
    width:100%;
    height:500px;
    grid-column: 4 / 7;
    grid-row: 2 / 2
}

.bodega{
    background:url(../img/bodega.png);
    object-fit: cover;
    width:100%;
    height:500px;
    grid-column: 1/ 7;
    grid-row: 3 / 3
}



.ike{
    background:url(../img/ikestug.png);
    object-fit: cover;
    width:100%;
    height:500px;
    grid-column: 1 / 7;
    grid-row: 4 / 4
}