* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

p {
  color: #fff;
}
h1,
h3 {
  color: #fff;
  font-weight: 700;
  font-size: 1.3rem;
}

body {
  background-color: rgb(115, 13, 231);
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.socials {
  position: fixed;
  left: 20px;
  top: 40px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.socials > div {
  color: #fff;
  align-items: center;
  display: flex;
  padding: 12px;
  text-decoration: none;
}

.socials a {
  color: #fff;
}

.github-container,
.linkedin-container,
.mail-container {
  display: flex;
  flex-direction: row;
}

.github-container > span,
.linkedin-container > span,
.mail-container > span {
  display: none;
  /* add transition for hover state */
}

/* intro section */
.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-wrapper {
  max-width: 994px;
}

.intro-wrapper > h1 {
  text-align: center;
  font-size: 52px;
}

.intro-wrapper > p {
  text-align: center;
  font-size: 40px;
  line-height: 1.4;
  opacity: 0.7;
}

/* About section */
.about {
  min-height: 350px;
}

.about-content {
  /* padding-right: 50px; */
  display: flex;
  justify-content: space-between;
  margin: 20px;
  color: black;
}

.about-content > header,
.about-content > div {
  width: 50%;
}

.about-content p {
  font-size: 1.2rem;
  opacity: 0.7;
}

/* work section */
.work {
  /* margin: 10px; */
  display: grid;
  grid-template-areas:
    'sol-de-janiero bioelements'
    'silk ike';
}

.work a {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}

.sol-de-janiero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  grid-area: sol-de-janiero;
}

.sol-de-janiero > h1,
.bioelements > h1,
.silk > h1,
.ike > h1 {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.sol-de-janiero:hover h1,
.bioelements:hover h1,
.silk:hover h1,
.ike:hover h1 {
  display: block;
}

.sol-wrapper {
  background: url(../img/sol.png) center;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.sol-wrapper:hover,
.bio-wrapper:hover,
.silk-wrapper:hover,
.ike-wrapper:hover {
  filter: brightness(40%);
}

.bioelements {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  grid-template-areas: bioelements;
}

.bio-wrapper {
  background: url(../img/bioe.png) center;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.silk {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  grid-template-areas: silk;
}

.silk-wrapper {
  background: url(../img/silk2.png) center;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.ike {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  grid-template-areas: ike;
}

.ike-wrapper {
  background: url(../img/ikestug.png);
  object-fit: contain;
  width: 100%;
  height: 100%;
}

footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .socials {
    position: fixed;
    left: 5px;
    top: 5px;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  .intro-wrapper > h1 {
    font-size: 2.5rem;
  }

  .intro-wrapper > p {
    font-size: 2rem;
  }

  .about-content {
    flex-direction: column;
  }

  .about-content > div,
  .about-content > header {
    width: 100%;
  }

  .about-content > header {
    text-align: center;
    margin-bottom: 10px;
  }

  .work {
    grid-template-areas:
      'sol-de-janiero'
      'bioelements'
      'silk'
      'ike';

    grid-row-gap: 10px;
  }
}
