@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes slideDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: scale(0.86);
        transform: scale(0.86)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: scale(0.86);
        transform: scale(0.86)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}



html, body{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    height:100%;
    width:100%;

    
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

.container {
    padding: 0 20px 20px 20px;
    margin: 0 auto;
      
}

.beginning{

    height:100vh;
    background-color: #000;
    padding:20px;
    
}


@media (min-width: 768px) {
    .container {
        max-width: 900px;
        padding: 0 30px 50px 30px
    }

 
}

.btn {
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 9px 13px;
    text-decoration: none;
    background: transparent;
    color:#ffffff;
    background-color: #f04;
}

.btn--primary {
    background: #f04;
    color: #fff
}

.btn--lg {
    padding: 18px 26px
}

@media (min-width: 768px) {
    .skill-tags {
        margin-left: 10px
    }
}

.skill-tag {
    background-color: transparent;
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    border: 2px solid #f04;
    color:#000000;
}

.testimonial {
    border-left: 1px solid #f04;
    padding: 15px 15px
}

.testimonial p {
    margin-top: 0
}

.header-container{

    background-color: black;
}

.header-container nav{

    display:flex;  
    justify-content: flex-end;
}

.header-container ul{

    display:flex; 
    color:white; 
    list-style:none
}

.header-container ul li{

    padding-right: 10px;
}

.header-container__img {
    background: url(../img/hero-img.png) no-repeat;
    filter: grayscale(100%);
    position: fixed;
    top: 0;
    left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -100
}

.lead {
    padding: 30px 0 100px;
    color:#ffffff;
   
}

@media (min-width: 768px) {
    .lead {
        padding: 115px 0
    }
}

.lead__heading {
    display: flex;
    justify-content: center;
    -webkit-animation: slideUp 750ms both;
    animation: slideUp 750ms both;
    font-size: 50pt;
    vertical-align: baseline;
  
}

.my-name{

    color:#f04;
    font-size: 50pt;
}

@media (min-width: 460px) {
    .lead__heading {
        font-size: 55px
    }


    
}

.lead__sub {
    display: flex;
    align-self: center;
    -webkit-animation: slideDown 750ms both;
    animation: slideDown 750ms both;
    font-size: 16pt;
    line-height: 140%;
    margin-bottom: 30px;
    padding-right:10%;
    padding-left:10%;

}



.socials {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.socials__link {

    color:#ffffff;
    text-decoration: none;
    padding-right:10px;
    
}

.socials__link :hover{

    color: #f04;
}



.project {
    overflow: hidden;
    margin-bottom: 30px;
    text-align: center;
   
}

@media (min-width: 768px) {
    .project {
        text-align: left
    }
}

.project__img-container {
    margin: 0 auto;
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 100px
}

@media (min-width: 768px) {
    .project__img-container {
        float: left;
        line-height: 300px;
        height: 300px;
        width: 300px
    }
}

.project__img {
    display: inline-block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    vertical-align: middle
}

.project__name {
    margin-bottom: 10px;
    color:#000000;
}

.project__details {
    padding: 15px
}

@media (min-width: 768px) {
    .project__details {
        margin-left: 300px;
        margin-right: 0
    }
}

@media (min-width: 768px) {
    .project:nth-child(even) .project__img-container {
        float: right
    }
}

@media (min-width: 768px) {
    .project:nth-child(even) .project__details {
        margin-left: 0;
        margin-right: 300px
    }
}

.timeline {
    position: relative
}

.timeline__line {
    width: 1px;
    background: #eaeaea;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%
}

@media (min-width: 768px) {
    .timeline__line {
        left: 50%
    }
}

.timeline__item {
    -webkit-animation: slideUp 750ms both;
    animation: slideUp 750ms both;
    border: 1px solid #eaeaea;
    border-top: 2px solid #f04;
    color: #222;
    display: inline-block;
    font-size: 13px;
    padding: 20px;
    position: relative;
    vertical-align: top;
    width: 97%
}

@media (min-width: 768px) {
    .timeline__item {
        width: 46%
    }
}

.timeline__item:after {
    height: 1px;
    top: 0;
    background-color: #eaeaea;
    content: '';
    display: block;
    left: inherit;
    position: absolute;
    right: -4%;
    width: 4%
}

@media (min-width: 768px) {
    .timeline__item:after {
        right: -9%;
        width: 9%
    }
}

.timeline__item:nth-child(odd) {
    margin-top: 20px;
    margin-bottom: -100px
}

@media (min-width: 768px) {
    .timeline__item:nth-child(odd) {
        margin-top: 160px;
        margin-left: 7%
    }
    .timeline__item:nth-child(odd):after {
        left: -8%;
        width: 8%
    }
}

.timeline__item:last-of-type {
    margin-bottom: 0
}

.experience__header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea
}

.experience__name {
    margin: 0
}

.contact__msg {
    line-height: 24px
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0
}

.footer__name {
    margin-top: 0;
    margin-bottom: 0
}

.footer__title {
    margin-top: 0;
    color: #f04
}