/**************************
       CSS Reset
***************************/
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button::-moz-focus-inner { border: 0; }



/*********************************************
              CSS for my pages
**********************************************/

@keyframes slideInRight {
    
    0%{

        transform: translate(-150px, 0px);
    }


    100%{
        
        transform: translate(0px, 0px);
    }
}

@keyframes enlarge {
    
    0%{

        transform: scale(0.1, 0.1);
    }


    65%{
        
        transform: scale(1.5, 1.5);
    }

    85%{

        transform: scale(0.1, 0.1);
    }

    100%{

        transform: scale(1, 1);

    }
}

@keyframes fadeIn {
    
    0%{

        opacity: 0;
    }


    100%{
        
        opacity: 1;
    }
}

@keyframes slideInLeft {
    
     0%{
         
         transform: translate(150px, 0px);
 
         }
         
         
         100%{
                     
          transform: translate(0px, 0px);
 
         }
 
 }

 @keyframes slideUp {
    
     0%{ 
         transform: translate(0px, 400px);
         }
    
         
         100%{
                     
             transform: translate(0px, 0px);
             }
 }
 

 

body {
    height: 100vh;

   
        }

        a{

            text-decoration: none;
            color:black;
        }

/*********************************************
              Side Nav
**********************************************/

        /* The side navigation menu */
 .sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0; 
    width: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: Candal;
    font-size: 15px;
    color: #311E41;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    text-decoration: underline;
}

a.closebtn:hover:hover{
    text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-top .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 

/*********************************************
              End Side Nav
**********************************************/


/*********************************************
             Home Page
**********************************************/

#Layer_1{

 

    width:10%;
    position:fixed;
    top:10px;
    transition: .5s;
}

.down-arrow{

    animation-name: fadeIn; 
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    fill:#ED6A41;
}

.introduction{
    z-index: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: #E8E7F6;
    height:100%;

}


    .introduction h2{
        color:#DD4056;
        /* animation-name: slideInLeft; */
        animation-duration: 3s;
        font-family: Candal;
        font-size: 60pt;
        text-align: center;
    }

 

    

    #first{

        color:white;      
        align-self: flex-start;
        font-size:70pt;
        padding-left:0.5em;
    }

    #my-name{

        /* animation-name:slideInRight; */
        /* animation-duration: 3s; */
        align-self: flex-start;
        color:#ED6A41;
        font-family: Candal;
        font-size: 70pt;
        text-align: center; 
        padding-left:0.5em;
    }

         #my-title{
        
                animation-name:fadeIn;
                animation-duration: 5s;
                align-self: flex-start;
                color:white;
                font-family: Khula;
                font-size: 30pt;
                text-align: center; 
                padding-left:1em;
            }

            #my-blurb {

                    align-self: flex-start;
                    color:white;
                    animation-name:fadeIn;
                    animation-duration: 5s;
                    font-family: Lekton;
                    font-size:16pt;
                    text-align:center;
                    padding-left:1.5em;
                }

    
            #work-word, #contact-word{
                color:#ED6A41;
                font-family: Candal;
                font-size: 15px;
                transition: all 2s cubic-bezier(.23,1,.32,1);
            }

            #work-word:hover{

                text-decoration: underline; 
                background-color: #ED6A41;
                color:white;
                padding:0.1em;
            }

        
            #contact-word:hover{
            
            text-decoration: none;
            width:50%;
            background-color: #ED6A41;
            color:white;
            padding:0.1em;

            }

/*********************************************
              End Intro section
**********************************************/


/*********************************************
              The Modal
**********************************************/


     /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color:#DD4056;
}

/* Modal Content/Box */
.modal-content {
    /* background-color: #fefefe; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    border:none;
    background-color: #311E41;
    position: fixed;
    right:150px;
    top:100px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 50%;
}

.x-button{

    color:white;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    opacity:0.5; 
} 


/*********************************************
              End Modal
**********************************************/


/*********************************************
             Work Section CSS
**********************************************/

/**** Work CSS ****/

.container{

    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
#project-one, #project-two, #project-three, #project-four{
    
     line-height: 1.2em;  
 }

 #project-one, #project-three{

    align-self: flex-start;
 }

 #project-two, #project-four{

    align-self: flex-end;
 }

 
 

 .title{
    animation-name:slideUp;
    animation-duration: 3s;
    color:#311E41;
     font-family: Candal;
     font-size: 32pt;
     font-weight: 700;
     line-height: 1em;
 }
 


 .project-img img{
     
    display: block;
    margin: 0 auto;
    width:400px;
 
 }

 #project-one img{

    width:70%;
 }

 #project-four img{
    
        width:70%;
     }

 /* .project-img a{

    display: block;
    margin: 0 auto;
 } */

 .description{

     font-family: Khula;
     font-size:12pt;
     text-align: center;
     /* color:#383838; */
     color:white;
     text-align:  left;
     max-width: 400px;
 
     

 }

 .techs{
     
     display: flex;
     flex-direction: row;
 
    
 }

 .techs li{

     padding-left: 1em;
     padding-right:1em;
     font-family: Khula;
     font-size:10pt;
     color:#DD4056;
     text-align: center;
     margin-bottom:4em;
     background-color: #311E41;;
     box-shadow: 4px 4px #301c41;
     border: 1px solid #DD4056;
 }


/*********************************************
             End Work Section CSS
**********************************************/


 @media (min-width: 200px) and (max-width: 500px){


#Layer_1{
    
        width:20%;
    }

    #first{

        align-self: center;
        font-size:50pt;

    }
    
    #my-name{

        font-size:50pt;
        align-self: center;
    }

    #my-title{

        font-size: 20pt;
        padding: 0;
        text-align: center;
    }



                .modal-content{

                    width: 90%;
                }
      
                    .project-img img{

                        width:75%;
                    }

                    

                    .container{

                        align-content: center;
                        justify-content: center;
                    }

                    .title{

                        align-self: center;
                        text-align: center;
                    }

                    .project-img{

                        margin:0 auto;
                    }

                    .description{
                        
                        max-width: 90%;
                        line-height: 1.2em;
                        align-self: center;
                        text-align: center;
                        width:100%;
                        }

                         .techs li{
                            display:inline;
                            margin: 0 auto;
                        }



                
      }
      



