/**************************
       CSS Reset
***************************/
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button::-moz-focus-inner { border: 0; }



/*********************************************
              CSS for my pages
**********************************************/

/*********************************************
              Font Awesome Icons CSS
**********************************************/

.fa-github-alt{

color:#ED6A41;
}

/*********************************************
              End Font Awesome Icon CSS
**********************************************/
/*********************************************
              Side Nav
**********************************************/

        /* The side navigation menu */
        .sidenav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 0; 
            width: 25%; /* 100% Full-height */
            position: fixed; /* Stay in place */
            z-index: 1; /* Stay on top */
            top: 0;
            left: 0;
            background-color: white;
            overflow-y: hidden; /* Disable horizontal scroll */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        }
        
        
        /* The navigation menu links */
        .sidenav a {
            padding: 8px 8px 8px 8px;
            text-decoration: none;
            font-family: Candal;
            font-size: 15px;
            color:#ED6A41;
            transition: 0.3s
        }
        
        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover{
            text-decoration: underline;
        }
        
        
        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
            transition: margin-top .5s;
            padding: 20px;
        }
        
        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        } 
        
        /*********************************************
                      End Side Nav
        **********************************************/


        /*********************************************
              The Modal
**********************************************/


     /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color:#ECE5F3;  
}

/* Modal Content/Box */
.modal-content {
    /* background-color: #fefefe; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    border:none;
    background-color: #311E41;
    position: fixed;
    right:150px;
    top:100px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 50%;
}

.x-button{

    color:white;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    opacity:0.5; 
} 


/*********************************************
              End Modal
**********************************************/




@keyframes fadeIn {
    
    0%{

        opacity: 0;
    }


    100%{
        
        opacity: 1;
    }
}



body {
    height: 100vh;

   
        }

        a{

            text-decoration: none;
            color:black;
        }

/*********************************************
              Container
**********************************************/

/* The whole down svg arrow */

#Layer_1{
    
        margin-left: 40px;
        width:10%;
        position:fixed;
        top:10px;
        transition: .5s;
    }

    .down-arrow{
        
            animation-name: fadeIn; 
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            fill:white;
        }



    #first{
        
                color:white; 
                font-size: 40pt;  
                font-family: Candal;   
                text-align: center;
            }
        
            #my-name{
        
                /* color:white; */
                /* color:#59ffee; */
                color:#ED6A41;
                font-family: Candal;
                font-size: 70pt;
                text-align: center;
            }
        
                 #my-title{
                
                        /* animation-name:fadeIn;
                        animation-duration: 5s; */
                     
                        color:white;
                        font-family: Khula;
                        font-size: 20pt;
                        text-align: center;
                    }

    
        .container{
            
                display:grid;
                height:100%;
                grid-template-columns: 0.2fr 0.4fr;
                grid-column-gap: 15px;
                grid-row-gap: 10px;
                /* background-color: #ED6A41; */
               background-color: #015877
            }

            .main{

                grid-column: 1/2;
                grid-row: 3/4;
            }

            .work{

                display: grid;
                grid-column: 2/4;
                grid-row: 1/4;
                min-width:800px;
            }

            .title{

                font-family:Candal; 
                    font-size:30pt
            }

            #project1 .description, #project2 .description, #project3 .description, #project4 .description{
            

                    font-family: lekton;
                    font-size:12pt;
                    line-height:1.2em;
                    max-width:55%;
                    text-align: center;
                    margin: 0 auto;
                    /* width:50%; */
                    display: none;
                    
                }

                #project1 .techs, #project2 .techs, #project3 .techs, #project4 .techs{

                        display: none;
                        padding: 1em 0 1em 0;
                        margin: 0 auto;
                       
                    }

                #project1 .techs li, #project2 .techs li, #project3 .techs li, #project4 li{
                        
                        display: inline;
                        font-family: Khula;
                        font-size:10pt;
                        color:#ED6A41;
                        
                       
                        border: 1px solid #ED6A41;
                    }

                    .p-links{

                        text-decoration: none;
                        margin:0 auto;
                    }

                        .goTo{

                        display: none;
                        background-color:#ED6A41;
                        color: white;       
                        border:none; 
                        max-height: 400px;
                        max-width: 400px;
                        padding:2em;
                        margin: 0 auto;
                       
                        
                        }


            #project1{

                display: grid;
                grid-column: 1/1;
                grid-row: 1/2;
                color:white;
                justify-content: center;
                align-content: center;
                
            }

            #project1:hover{

                background-color: #04749A;
            }

            #project2{

                display: grid;
                grid-column: 1/1;
                grid-row: 2/4;
                color:white;
                /* min-width:200px;
                min-height: 200px; */
                justify-content: center;
                align-content: center;   
                writing-mode: vertical-rl;
            }

            #project2:hover{

                background-color: #04749A;
            }

            #project3{

                display: grid;
                grid-column: 2/4;
                grid-row: 2/4;
                color:white;
                /* min-width:200px;
                min-height: 200px; */
                justify-content: center;
                align-content: center;         
                
            }

            #project3:hover{

                background-color: #04749A;
            }

            #project4{

                display: grid;
                grid-column: 2/4;
                grid-row: 1/1;
                color:white;
                /* min-width:200px;
                min-height: 200px; */
                justify-content: center;
                align-content: center;   
                writing-mode: vertical-rl;
                
                
            }

            #project4:hover{

                background-color: #04749A;
            }
            


        


 @media (min-width: 350px) and (max-width: 500px){

    .container{

        display:grid;
        grid-row-gap: 1px;
        grid-template-columns: 0.1fr 0.2fr;
        grid-column-gap: 1px;
    }

   


       

            .main{

                display: grid;
                grid-column: 1/1;
                grid-row: 2/5;
            }

            .work{

                display: grid;
                grid-column: 2/5;
                grid-row: 2/4;
                min-width: 350px;
                max-width: 350px;
            }

           

            #first{
                
                color:white; 
                 font-size: 20pt;  
                font-family: Candal;   
                text-align: center;

                grid-column: 1/1;
                grid-row: 2/2;
               
        
                }
                
                #my-name{
                
                color:#ED6A41;
                font-family: Candal;
                font-size: 30pt;
                padding-left:0.1em;

                grid-column: 1/1;
                grid-row: 3/3;
                }
                
                #my-title{
        
                display:none;
                
                }

                .title{
                    
                 font-size:10pt;
                                    
                }
                
        

            #project1 .description, #project2 .description, #project3 .description, #project4 .description{
            

                    font-family: lekton;
                    font-size:8pt;
                    line-height:1.1em;
                    
                    text-align: center;
                    margin: 0 auto;
                    display: none;
                    
                }

                #project1 .techs, #project2 .techs, #project3 .techs, #project4 .techs{

                        display: none;
                        padding: 1em 0 1em 0;
                        margin: 0 auto;
                       
                    }

                #project1 .techs li, #project2 .techs li, #project3 .techs li, #project4 li{
                        
                        display: inline;
                        font-family: Khula;
                        font-size:10pt;
                        color:#ED6A41;
                        
                       
                        border: 1px solid #ED6A41;
                    }


                        .goTo{

                        display: none;
                        background-color:#ED6A41;
                        color: white;       
                        border:none; 
                        max-height: 200px;
                        max-width: 200px;
                        padding:1em;
                        margin: 0 auto;
                       
                        }


                #project1{

                    display: grid;
                    grid-column: 1/2;
                    grid-row: 1/1;
                    color:white;
                  
                    justify-content: center;
                    align-content: center;
                    
                }

        

            #project2{

                display: grid;
                grid-column: 1/1;
                grid-row: 2/3;
                color:white;
                justify-content: center;
                align-content: center;   
                writing-mode: vertical-rl;
            }

         

            #project3{

                display: grid;
                
                grid-column: 1/1;
                grid-row: 4/4;
                color:white;
                justify-content: center;
                align-content: center;         
                
            }

           

            #project4{

                display: none;
                
                
            }

          
    

     


    }
      



