/**************************
       CSS Reset
***************************/
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button::-moz-focus-inner { border: 0; }



/*********************************************
              CSS for my pages
**********************************************/


body{

    display:flex;
    flex-direction: column;
}


.main {
  display: flex;
  flex-direction: column;
}


.heading h1{

    align-self: flex-start;
    color: #282828;
    margin:3em 0 0 0;
    font-family: 'Candal', sans-serif;
    font-weight: 700;
    font-size:50px;
    text-align: center;
    line-height: 120%;  
}


.sidebar{

       border-left: 1px solid #dbdbdb;
       margin-right:5em;
       margin-top:3em;
       line-height: 130%;
      
}

#title{

    font-family: 'Candal', sans-serif;
    font-weight: 700;
    
}

 .statements{

     margin: 1.5em  0 0 1.5em;
     color:#353535;
    font-family: 'Khula', sans-serif;
     font-size: 18px;

 }  

 .links{

     color:rebeccapurple;
 }

 .links li{

     margin:0 0 0 1.5em;  
    line-height: 150%;
    list-style: square;
 }

 .links li a{

     color:#353535;
 }

 

 a { 
     color: inherit;
     text-decoration: none;
     outline: none; 
     } 



@media screen and (min-width: 600px) {
  .main {
    flex-direction: row-reverse;
  }

  .main-content {
    flex: 1;
  }

  .sidebar {
    width: 250px;
  }
}


.projects{

    margin: 1em 0 0 0;
    align-content: center;
    justify-content: center;
 
}

.projects h1{

    align-self: center; 
    text-align: center;
    margin:5em 0 0 0;
    
}



.outer-box{

    display:flex;
    flex-direction: column;
    margin: 3em 0 0 0;

   
   
}

.project-name{

    margin: 0 0 1em 0;
    text-align: center;
    font-family: "Lekton" sans-serif;
    font-size:16pt;
}

#images-box{

    align-self: center;
}

.project-des{

    text-align: center;
    font-family: "Lekton" sans-serif;
    font-size:10pt;
    line-height: 120%;
    width:150px;
    align-self: center;
}


.projects h1 b:nth-child(1){

    font-family:"Candal";   
    font-size: 30px;
}

.project-name{

    margin: 0 0 1em 0;
}

.button-change{

    display: flex;
    flex-direction: row;
    justify-content: center;    
}

#prev-b{

    margin-right:0.3em;

}

button{

    background-color:#FF9100;
     color:white;
    border:none;
}

.skills{

    display: flex;
    flex-direction:row;
    justify-content: center;
    margin:5em 0 0 0;
    background-color: rebeccapurple;

}

@media screen and (max-width: 1000px) {

    .skills{

        display: flex;
        flex-direction: column;
    }
 
}


.skills h1{

    align-self: center;
    text-align: center;
    color:white;
    font-family: "Candal" sans-serif;
    font-size: 30px;
    margin: 0.5em 0 2em 0;
}

#skill-one{

   align-self: center;
}





.skill-img{

    margin: 0 0 0 3em;
  
    
}

.skill-description{

    width:300px;
    color:white;
    text-align: center;
    line-height:120%;
    word-break: break-word;
    font-size:12px;
    margin: 1em 0 0 0;
    
}

























