/**************************
       CSS Reset
***************************/
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button::-moz-focus-inner { border: 0; }



/*********************************************
              CSS for my pages
**********************************************/

body {
    height: 100vh;

   
        }



.introduction{

    /* background-image: url(../img/red-dots.png); */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    height:100%;

}

@keyframes slideUp {
   
    0%{ 
        transform: translate(0px, 400px);
        }
   
        
        100%{
                    
            transform: translate(0px, 0px);
            }
}

.introduction p {

    animation-name:slideUp;
    animation-duration: 4s;
    font-family: Lekton;
    font-size:16pt;
}




@keyframes slideInLeft {
   
    0%{
        
        transform: translate(300px, 0px);

        }
        
        
        100%{
                    
         transform: translate(0px, 0px);

        }

}
    .introduction h2{

        animation-name: slideInLeft;
        animation-duration: 2s;
        font-family: Candal;
        font-size: 30pt;
        text-align: center;
    }

    @keyframes slideInRight {
        
        0%{

            transform: translate(-300px, 0px);
        }


        100%{
            
            transform: translate(0px, 0px);
        }
    }

    @keyframes enlarge {
        
        0%{

            transform: scale(0.1, 0.1);
        }


        65%{
            
            transform: scale(1.5, 1.5);
        }

        85%{

            transform: scale(0.1, 0.1);
        }

        100%{

            transform: scale(1, 1);

        }
    }

    .introduction h1{

        animation-name:slideInRight;
        animation-duration: 3s;

        font-family: Candal;
        font-size: 30pt;
        text-align: center; 
    }

    .introduction h3{
        
                animation-name:slideUp;
                animation-duration: 3s;
        
                font-family: Khula;
                font-size: 25pt;
                text-align: center; 
            }

            #work-word:hover{

                background-color:magenta;
                color:white;
                padding:0.1em;
            }

            #contact-word:hover{
                
            background-color:magenta;
            color:white;
            padding:0.1em;

            }



    @media (min-width: 200px) and (max-width: 500px){
        
          
                        

                    
          }
          


     /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 














