/**************************
       CSS Reset
***************************/
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button::-moz-focus-inner { border: 0; }



/*********************************************
              CSS for my pages
**********************************************/

body {
    height: 100vh;

   
        }



.introduction{

    /* background-image: url(../img/red-dots.png); */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    height:100%;

}

@keyframes slideUp {
   
    0%{ 
        transform: translate(0px, 400px);
        }
   
        
        100%{
                    
            transform: translate(0px, 0px);
            }
}

.introduction p  {

    animation-name:slideUp;
    animation-duration: 4s;
    font-family: Lekton;
    font-size:16pt;
}




@keyframes slideInLeft {
   
    0%{
        
        transform: translate(300px, 0px);

        }
        
        
        100%{
                    
         transform: translate(0px, 0px);

        }

}
    .introduction h2{

        animation-name: slideInLeft;
        animation-duration: 2s;
        font-family: Candal;
        font-size: 30pt;
        text-align: center;
    }

    @keyframes slideInRight {
        
        0%{

            transform: translate(-300px, 0px);
        }


        100%{
            
            transform: translate(0px, 0px);
        }
    }

    @keyframes enlarge {
        
        0%{

            transform: scale(0.1, 0.1);
        }


        65%{
            
            transform: scale(1.5, 1.5);
        }

        85%{

            transform: scale(0.1, 0.1);
        }

        100%{

            transform: scale(1, 1);

        }
    }

    @keyframes fadeIn {
        
        0%{

            opacity: 0;
        }


        100%{
            
            opacity: 1;
        }
    }

    #my-name{

        animation-name:slideInRight;
        animation-duration: 3s;

        font-family: Candal;
        font-size: 30pt;
        text-align: center; 
    }

         #my-title{
        
                animation-name:fadeIn;
                animation-duration: 5s;
        
                font-family: Khula;
                font-size: 20pt;
                text-align: center; 
            }

            #my-blurb{

                animation-name:fadeIn;
                animation-duration: 5s;

            }

            #work-word{

                text-decoration: underline; 
            }

            #work-word:hover{

                text-decoration: none;
                background-color:rgb(192, 1, 220);
                color:white;
                padding:0.1em;
            }

            #contact-word{

                text-decoration: underline;
            }

            #contact-word:hover{
            
            text-decoration: none;
            background-color:rgb(192, 1, 220);
            color:white;
            padding:0.1em;

            }


     /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    /* background-color: #fefefe; */
    background-color: rgba(0, 0, 0, 0.5);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: yellow;
    text-decoration: none;
    cursor: pointer;
} 








/**** Work CSS ****/
#project-one, #project-two, #project-three, #project-four{
    
    display: flex;
    flex-direction: column;
     line-height: 1.2em;  

 }

 

 .title{
     font-family: Candal;
     font-size: 32pt;
     font-weight: 700;
     text-align: center;
     color:white;
     line-height: 1em;
 }

 .project-img{
     
     display: flex; 
 }

 .project-img img{
     
    display: block;
    margin: 0 auto;
    width:400px;
 
 }

 .project-img a{

    display: block;
    margin: 0 auto;
 }

 .description{

     font-family: Khula;
     /* font-size:14pt; */
     text-align: center;
     /* color:#383838; */
     color:white;
     align-self: center;
     

 }

 .techs{
     
     display: flex;
     flex-direction: row;
     justify-content: center;  
    
 }

 .techs li{

     padding-left: 1em;
     padding-right:1em;
     font-family: Khula;
     font-size:10pt;
     color:black;
     text-align: center;
     margin-bottom:4em;
     background-color:yellow;
     border: 1px solid white;
     
     
 }

 /**** End Work CSS ****/

 @media (min-width: 200px) and (max-width: 500px){

                .modal-content{

                    width: 90%;
                }
      
                    .project-img img{

                        width:75%;
                    }

                    .description{

                       max-width: 90%;
                       line-height: 1.2em;
                    }

                
      }
      



