/**************************
       CSS Reset
***************************/
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button::-moz-focus-inner { border: 0; }



/*********************************************
              CSS for my pages
**********************************************/

body {
    height: 100vh;

        
        
        }



.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    height:100%;

     
/* 
    background-image: -webkit-repeating-radial-gradient(center center, rgba(252, 0, 0, 0.20), rgba(255, 0, 0, 0.20) 3px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(255, 1, 1, 0.20), rgba(255, 0, 0, 0.20) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(252, 0, 0, 0.20), rgba(254, 2, 2, 0.20) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(254, 0, 0, 0.20), rgba(254, 0, 0, 0.20) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px; */
}

@keyframes slideUp {
   
    0%{ 
        transform: translate(0px, 400px);
        }
   
        
        100%{
                    
            transform: translate(0px, 0px);
            }
}

.introduction p {

    animation-name:slideUp;
    animation-duration: 4s;
    font-family: Lekton;
    font-size:16pt;
}




@keyframes slideInLeft {
   
    0%{
        
        transform: translate(300px, 0px);

        }
        
        
        100%{
                    
         transform: translate(0px, 0px);

        }

}
    .introduction h2{

        animation-name: slideInLeft;
        animation-duration: 2s;
        font-family: Candal;
        font-size: 50pt;
        text-align: center;
    }

    @keyframes slideInRight {
        
        0%{

            transform: translate(-300px, 0px);
        }


        100%{
            
            transform: translate(0px, 0px);
        }
    }

    @keyframes enlarge {
        
        /* 0%{

            transform: scale(-1, -1);
        }


        100%{
            
            transform: scale(1, 1);
        } */
    }

    .introduction h1{

        animation-name:slideInRight;
        animation-duration: 3s;

        font-family: Candal;
        font-size: 60pt;
        text-align: center; 
    }

    @media (min-width: 200px) and (max-width: 400px){
        
            .introduction h1{
        
                font-size: 20pt
            }

            .introduction h2{
                
    
                font-size: 25pt;
                     
                    }

                    .arrows{

                        flex-direction: column;
                    }

                    
                    #prev-b, #next-b{

                        min-width: 50%;
                        max-width:50%;
                        display: block;
                        margin: 0 auto;
                        
                        
                    }
                        

                    
          }
          

    .arrows{

        display: flex;
        flex-direction: row;
        margin:3em;
        align-self: auto;
    }

    #prev-b{
        
        width:250px;
        animation-name:enlarge;
        animation-duration: 4s;
        margin-right:2em;
    }

    #next-b{
        width:250px;
        animation-name:enlarge;
        animation-duration: 4s;
    }

    #prev-b:hover{

        
      
    }

    #next-b:hover{
        
       
              
        }
        













