/**************************
       CSS Reset
***************************/
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button::-moz-focus-inner { border: 0; }



/*********************************************
              CSS for my pages
**********************************************/

body{

    display:flex;
    flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
}


.heading h1{

    align-self: flex-start;
    color: #282828;
    margin:3em 3em 0 3em;
    font-family: 'Candal', sans-serif;
    font-weight: 700;
    font-size:30px;
    text-align: left;
    line-height: 120%;
    flex-wrap: wrap;

}
.sidebar{

       border-left: 1px solid #dbdbdb;
       margin-right:5em;
       margin-top:3em;
}

 .statements{

     margin: 1.5em  0 0 1.5em;
     color:#353535;
    font-family: 'Khula', sans-serif;
     font-size: 12px;

 }  

 .links li{

     margin:0 0 0 1.5em;  
    line-height: 150%;
    list-style: square;
 }

 a { 
     color: inherit;
     text-decoration: none;
     outline: none; 
     } 



@media screen and (min-width: 600px) {
  .main {
    flex-direction: row-reverse;
  }

  .main-content {
    flex: 1;
  }

  .sidebar {
    width: 180px;
  }
}

.projects{

    display:flex;
    flex-direction: column;
    margin: 1em 0 0 2em;
}

.projects h1{

color: #282828;
font-family: "Candal" sans-serif;
font-size: 22px;

}

.description{

    color:#353535;
    font-family: "Khula" sans-serif;
    font-size: 14px;
    width:200px;
}

.techs{

    display:flex;
    flex-direction: row;
}























/**********************************
        First Page Styles
***********************************/

/*.first-page{
    display:flex;
    flex-direction: row;
    height:675px; 

}

.heading{

    display:flex;
    flex-direction: column;

}

.heading h1{

 
    color: #282828;
    margin:3em 3em 0 3em;
    font-family: 'Candal', sans-serif;
    font-weight: 700;
    font-size:35px;
    text-align: left;
    line-height: 120%;
     

}

.heading p{

    margin:3em 0 0 6em;
    color:#353535;
    font-family: 'Khula', sans-serif;
    font-size:18px;
   
}



 #sidebar {
     display: flex;
     flex-direction: column;  
     align-self: flex-start;  
     width: 180px;
     border-left: 1px solid #dbdbdb;
     margin: 1.5em 0 0 15em;
      
 }



 .statements{

     margin: 1.5em  0 0 1.5em;
     color:#353535;
    font-family: 'Khula', sans-serif;
     font-size: 12px;

 }  

 .links li{

     margin:0 0 0 1.5em;  
    line-height: 150%;
 }

 a { 
     color: inherit;
     text-decoration: none;
     outline: none; 
     } */


/**********************************
       End First Page Styles
***********************************/


/**********************************
       Projects Styles
***********************************/


/*.projects{
    
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;   
  
}

.first_project, .second_project, .third_project, .fourth_project{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width:150px;
    height:150px;
    border-width: medium;
    border-style: double;
    border-color:#0277BD;
    padding: 1em 1em 1em 1em;
}*/

/*
.first_project h3,.second_project h3, .third_project h3, .fourth_project h3{
  
    font-weight:bold;
    color:white;
    text-align: center;  
}*/
/*
.first_project p,.second_project p, .third_project p, .fourth_project p{
    
    font-size:0.8em;
    text-align: center;
    color:white;
}*/
/*

.first_project a,.second_project a, .third_project a, .fourth_project a{
  
    align-self: center;
    border:none;
    padding:0.5em;
    width:50%;
    font-weight:bold;
    text-align: center;  
     background-color:#FE1C5D;
     box-shadow: 3px 3px 3px #700b27;
    
}*/


/*.first_project button,.second_project button, .third_project button, .fourth_project button{
  
    border:none;
    font-weight:bold;
    background-color:#FE1C5D;
    color:white;      
}

.first_project:hover,.second_project:hover, .third_project:hover, .fourth_project:hover{
    
   background-color:#0277BD;
   box-shadow: 10px 10px 5px #01579B;
}   

.techs{

   display:flex;
   flex-direction: row; 
   justify-content: center;
}*/
/*
.techs p:nth-child(1){

    flex-wrap: wrap;
    background-color:#FE1C5D;
    text-align: center;
    margin-right:0.5em;
    box-shadow: 3px 3px 3px #700b27;
    
}

.techs p:nth-child(2){

    flex-wrap: wrap;
    background-color:#FE1C5D;
    text-align: center;
    margin-right:0.5em;
    box-shadow: 3px 3px 3px #700b27;
}

.techs p:nth-child(3){

    flex-wrap: wrap;
    background-color:#FE1C5D;
    text-align: center;
    margin-right:0.5em;
    box-shadow: 3px 3px 3px #700b27;
}*/


/**********************************
       End Project Styles
***********************************/




