html, body 
{
    max-width: 100%;
    overflow-x: hidden;
}

body
{
    
}

#navigation
{
    float: right;
    white-space: nowrap;
}

#navigation li
{
    font-size: 16px;
    list-style: none;
    display: inline-block;
}

#home-text
{
    font-size: 75px;
    margin-left: auto;
    margin-right: auto;
    
    display: table;
    height:200px;
} 


.second-text
{
    margin-left: auto;
    margin-right: auto;
    
    display: table;
}