/**************************
       CSS Reset
***************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*********************************************
              CSS for my pages
**********************************************/

body{

    display:flex;
    flex-direction: column;
}

/**********************************
        First Page Styles
***********************************/

.first-page{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#0097A7;
    height:500px;
    
}

@keyframes colors{

    0%{

        border-color:white;
    }

    25%{

        border-color:#0097A7;
    }

    50%{

       border-color: #FE1C5D;
        
    }

    75%{

        border-color:#0097A7;
    }

    100%{

        border-color:lime;
        
    }
}
.first-page h1{

    color:white;
    margin: 2em 0 0 0;
    font-weight: 700;
    font-size:40px;
    padding:1em;
    border: 5px double white;
    text-align: center;


    animation-name: colors;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
}

.first-page p{

    align-self: center;
    color:#80DEEA;
    margin: 1em 0 0 0;
}

.social-links{

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 0 0;
}

.social-links a:nth-child(1){

    color:#FE1C5D;
    margin-right:0.5em;


}

.social-links a:nth-child(2){

    color:#FE1C5D;
    margin-right:0.5em;

}

.social-links a:nth-child(3){

    color:#FE1C5D;

}

@keyframes blink{

    0%{
        color:#0097A7;

        
    }

    100%{

       color:#80DEEA;
    }
}

.indicator{
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    font-size: 50px;
    margin: 2em 0 0 0;
    color: #80DEEA;
}

.indicator p{
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    margin: 0 0 0.5em 0;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
/**********************************
       End First Page Styles
***********************************/


/**********************************
       Projects Styles
***********************************/


.projects{
    
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#00ACC1;
  
}


.first_project, .second_project, .third_project, .fourth_project{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width:150px;
    height:150px;
    margin: 2.3em 0 0 3em;
    border-width: medium;
    border-style: double;
    border-color:#0277BD;
    padding: 1em 1em 1em 1em;
}


.first_project h3,.second_project h3, .third_project h3, .fourth_project h3{
  
    font-weight:bold;
    color:white;
    text-align: center;  
}

.first_project p,.second_project p, .third_project p, .fourth_project p{
    
    font-size:0.8em;
    text-align: center;
    color:white;
}

.first_project button,.second_project button, .third_project button, .fourth_project button{
  
    align-self: center;
    font-weight:bold;
    color:white;
    text-align: center;  
    background-color:#FE1C5D;
    border:none;
    padding:0.5em;
    width:50%;
}

.first_project:hover,.second_project:hover, .third_project:hover, .fourth_project:hover{
    
   background-color:#0277BD;
   box-shadow: 10px 10px 5px #01579B;
}   

.techs{

   display:flex;
   flex-direction: row; 
   justify-content: center;
}

.techs p:nth-child(1){

    flex-wrap: wrap;
    background-color:#FE1C5D;
    text-align: center;
    margin-right:0.5em;
    box-shadow: 3px 3px 3px #700b27;
    
}

.techs p:nth-child(2){

    flex-wrap: wrap;
    background-color:#FE1C5D;
    text-align: center;
    margin-right:0.5em;
     box-shadow: 3px 3px 3px #700b27;
}

.techs p:nth-child(3){

    flex-wrap: wrap;
    background-color:#FE1C5D;
    text-align: center;
    margin-right:0.5em;
     box-shadow: 3px 3px 3px #700b27;
}


/**********************************
       End Project Styles
***********************************/


