html, body 
{
    max-width: 100%;
    overflow-x: hidden;
}

.navigation
{
    width: auto;
    margin-top: 50px;
    font-size: 36px;
}

.home_text
{
    width:200px;
    height: 100px;
    margin-top:200px;
    margin-left:300px;
}

.icons
{
   margin-top: 300px;
}

.fa-behance
{
    margin-left: 10px;
}